/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.gridview{
	-fx-background-color: transparent;
	-fx-alignment: left;
	-fx-border-color: #1E90FF;
	-fx-border-radius: 5px;
	-fx-border-width: 0.1px;
	-fx-font-size: 13;
	-fx-valignment: center;


}
.gridview .gridcolumn{
	-fx-font-weight: 300;
	-fx-padding: 6px 10px;
	-fx-background-color: #fff;
	-fx-border-color: #1E90FF;
	-fx-border-width: 0.1px;
	-fx-text-fill: #3e3e3e;
	-fx-valignment: center;
}
.scroll-bar {
  	-fx-background-color: transparent;
  	-fx-color: transparent;
  
}
.combo-box {
  	-fx-color: #1E90FF;
  	-fx-background-color: #fff;
  	-fx-border-color: #1E90FF;
  	-fx-border-radius: 5px;
	-fx-border-width: 0.2px;
}
.search-field{
	-fx-color: #1E90FF;
  	-fx-background-color: #fff;
  	-fx-border-color: #1E90FF;
  	-fx-border-radius: 5px;
	-fx-border-width: 0.2px;
}
.input{
	-fx-background-color: #fff;
	-fx-border-color: #9A9A9A;
  	-fx-border-radius: 5px;
	-fx-border-width: 0.5px;
}
.choice-box{
	-fx-border-width: 0.5px;
	-fx-border-color: #BCBCBC;
	-fx-border-radius: 5px;
	-fx-background-color: #fff;
}









